.account-info-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.account-info-container p {
    margin: 0px;
}

.subscription-list-container {
    overflow: auto;
    max-height: 100px;
}

.subscription-container {
    margin-top: 10px;
}

.edit-account-button {
    margin-top: 20px;
}

/* Below is the styling for desktop.
-------------------------------------------------- */
@media screen and (min-width: 576px) {
    .subscription-container {
        margin-top: 0px;
    }
}