/* Post Sections */
.post-owner {
    display: inline-block;
}

.post-image {
    width: 100%;
    margin-bottom: 10px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    position: relative;
}

.card a {
    color: red;
}

.card a:hover {
    color: darkred;
}

.post-edit-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.post-delete-button {
    position: absolute;
    top: 15px;
    right: 45px;
}

.is-empty-title {
    text-align: center;
    font-weight: bold;
    color: red;
    width: 250px;
    margin: auto;
    margin-top: 100px;
}

/* Comment Sections */
.comment-button {
    color: red;
    font-size: 1rem;
}

.comment-button:hover {
    color: darkred;
}

.comment-outer-container {
    overflow: hidden;
    height: 0px;
}

.comment-container {
    display: block;
    background-color: #EFEFEF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.comment-user {
    color: red;
    margin: 0px;
    white-space: nowrap;
    margin-right: 5px;
}

.comment-content {
    margin: 0px;
}

.comment-textbox {
    background-color: #EFEFEF;
    border: 0px;
    width: 100%;
}

.comment-textbox:focus {
    background-color: #EFEFEF;
    border: 0px;
}

.comment-submit {
    padding: 0px;
    padding-left: 10px;
    white-space: nowrap;
}

/* General */
.home-top-container {
    padding: 40px 0px;
}

.create-post-button{
    width: 160px;
    display: block;
    margin: auto;
    border: 0px;
}

.create-post-button:hover {
    background:red;
}

.pagination {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.page-link {
    color: red;
}

.page-item.active .page-link {
    border-color: red;
    background-color: red;
}

.page-link:hover {
    color: red;
}

.edit-button {
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    opacity: 0.5;
}

.edit-button:hover {
    opacity: 1;
}

.edit-button > img {
    height: 20px;
    width: 20px;
}

/* Below is the styling for desktop.
-------------------------------------------------- */
@media screen and (min-width: 992px) {
    .comment-container {
        display: flex;
    }
    .comment-submit {
        padding-left: 10px;
    }
}