form {
    max-width: 300px;
    margin: auto;
}

#logo-image {
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.checkbox {
    margin-top: 1rem;
}

.anchor-container {
    margin: auto;
    display: block;
    margin-top: 1rem;
}

.google-login-button:focus, .google-login-button.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25)!important;
    border-color: transparent!important;
}