.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgb(139, 0, 0, 0.25);
    border-color: red;
}

.form-control:focus, .form-control.focus {
    box-shadow: 0 0 0 0.2rem rgb(139, 0, 0, 0.25);
    border-color: red;
}