.navbar {
    border-bottom: 1px solid red;
}

.navbar-left-button {
    margin-left: 20px;
    opacity: 0.6;
}

.navbar-left-button:hover {
    opacity: 1;
}

#app {
    max-width: 800px;
    margin:auto;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 992px) {
    #app {
        padding-left: 0px;
        padding-right: 0px;
    }
}