.user-info-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-info-container button {
    margin-bottom: 0.5rem;
    margin-left: 0px;
    width: 120px;
}

/* Below is the styling for desktop.
-------------------------------------------------- */
@media screen and (min-width: 362px) {
    .user-info-container h2 {
        display:inline-block;
    }
    .user-info-container button {
        margin-left: 20px;
    }
}